body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#errors{
    color: red;
}

#board{
    width: 450px;
    height: 450px;

    background-color: lavender;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits{
    width:450px;
    height: 50px;
    background-color: lavenderblush;

    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}

.number{
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin:2px;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected{
    background-color: lightgray;
}

.tile-start{
    background: rgb(222, 222, 255);
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}